 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.game {
  margin: 50px auto 0 auto;
  width: 1000px;
  overflow: auto;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

.left {
  float: left;
  width: 200px;
  height: 500px;
//large dog image
  .dog {
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 106px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50px;
    }
  }
//thumbnail dog images
  .goodies {
    float: left;
    width: 400px;
    height: 100px;
    margin-top: 50px;

    li {
      float: left;
      display: inline-block;
      width: 100px;
      height: 300px;
      margin-right: 20px;
      list-style: none;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }
  }
}

.right {
  float: right;
  width: 200px;
  height: 500px;
//large cat image
  .cat {
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 106px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50px;
    }
  }
//thumbnail cat images
  .baddies {
    float: right;
    width: 400px;
    height: 100px;
    margin-top: 50px;

    li {
      float: left;
      display: inline-block;
      margin-right: 10px;
      list-style: none;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }
  }
}
}
